<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /pbr-ads-2025-1-p3-tidai-t1-8246101-pbr-ads-2025-1-p1-supermauro/src/backend/ 
    RewriteCond %{REQUEST_FILENAME} !-d       
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
